@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Poppins:wght@300;400;600;700&family=Roboto+Mono&display=swap");

:root {
  /* Colours */
  --dark-green: #03130d;
  --darkgreen-tint: rgb(3, 19, 13, 0.5);
  --light-darkgreen: #051a12;
  --light-green: rgb(134, 255, 211);
  --light-green-tint: rgb(134 255 211 /0.1);
  --slate: #87a59a;
  --light-slate: #aeccc3;
  --lightest-slate: #d4fdef;

  /* Fonts */
  --font-sans: "Poppins", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
  --font-logo: "Oleo Script Swash Caps", cursive;
}

/* Globales */

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--dark-green);
  font-size: 1.6rem;
  font-family: var(--font-sans);
  color: var(--slate);
  line-height: 1.3;
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
.container {
  max-width: 100rem;
  width: 85%;
  margin: 0 auto;
}

/* HEADER */
.nav {
  height: 12rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.nav__link {
  font-family: var(--font-roboto);
  font-size: 1.4rem;
}
.nav__link:hover {
  color: var(--light-green);
  font-weight: bold;
}
.nav__link:active {
  color: var(--light-green);
  font-weight: bold;
}

/* ABOUT */
.about {
  margin-bottom: 10rem;
}
.flex {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
  justify-content: space-between;
}
.info {
  width: 80%;
}
.info__name {
  font-size: 3rem;
  color: var(--lightest-slate);
}
.info__prof {
  font-family: var(--font-roboto);
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--light-slate);
}
.image {
  width: 12rem;
  height: 12rem;
  background-color: white;
}

.btn {
  padding: 1rem 2rem;
  border: 2px solid var(--light-green);
  border-radius: 0.6rem;
}
.btn:hover {
  background-color: var(--light-green-tint);
}

/* WORKS */
.works {
  margin-bottom: 10rem;
}
.works__title {
  color: var(--lightest-slate);
  font-size: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  gap: 1rem;
}

.works__title::after {
  content: "";
  display: inline-block;
  width: 80%;
  height: 2px;
  background-color: var(--light-green);
  position: relative;
}

/* Works-CARDS */
.works__cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
}
.card__container {
  width: 35rem;
  height: 27rem;
  overflow-y: hidden;
  position: relative;
}
.card__container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--darkgreen-tint);
}
.card {
  display: flex;
  align-items: center;
}
.card__info {
  background-color: var(--light-darkgreen);
  padding: 3rem 2rem;
  margin-left: -5rem;
  z-index: 1;
  border-radius: 0.5rem;
  transition: transform 300ms;
}
.card__info:hover {
  transform: scale(1.1);
}
.info__title {
  color: var(--lightest-slate);
  font-size: 2rem;
  text-align: right;
}
.info__description {
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: right;
  margin-bottom: 2rem;
}
.info__links {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-roboto);
  font-size: 1.5rem;
}
.info__link:hover {
  color: var(--light-green);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .card:nth-child(2) {
    flex-direction: row-reverse;
  }
  .card__info--odd {
    margin-right: -5rem;
    margin-left: 0;
  }
  .info__title--odd {
    text-align: left;
  }
  .info__description--odd {
    text-align: left;
  }
}
@media (max-width: 570px) {
  .card__img {
    display: none;
  }
  .card__info {
    margin: 0;
  }
  .info__title,
  .info__description {
    text-align: center;
  }
}

/* CONTACT */
.contact__title {
  font-size: 2.7rem;
  color: var(--lightest-slate);
  margin-bottom: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.contact__title::before {
  content: "";
  width: 80%;
  height: 2px;
  display: inline-block;
  background-color: var(--light-green);
  position: relative;
}

.form {
  background-color: var(--light-darkgreen);
  height: 70rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.form__div {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__div:last-of-type {
  margin-bottom: 0;
}
.form__label {
  width: 50%;
  gap: 1rem;
  text-align: left;
  font-family: var(--font-roboto);
  font-size: 1.5rem;
}
.form__input {
  width: 50%;
  height: 3.5rem;
  background-color: var(--lightest-slate);
  color: var(--dark-green);
  padding: 1rem;
  border: 2px solid var(--light-slate);
  border-radius: 0.6rem;
}
.form__input:focus {
  border: px solid var(--light-green);
}
.form__btn {
  background-color: transparent;
  border: 2px solid var(--light-green);
  border-radius: 0.6rem;
  color: var(--light-green);
  padding: 1.5rem 2rem;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.form__btn:hover {
  background-color: var(--light-green-tint);
}

@media (min-width: 768px) {
  .form__btn {
    width: 20rem;
  }
}

.form__div--textarea {
  display: flex;
}
.form__input--textarea {
  height: auto;
  resize: none;
}
/* wtf */
